<div class="container mt-6 max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <div class="w-full text-white font-montserrat-alternates text-center">
    <span class="font-semibold text-3xl">Current Status</span>
    <p class="my-3">Web server status, updated every 10 minutes</p>

    <div class="bg-green-200 text-green-900 font-bold w-6/12 mx-auto my-5 p-2">
      <span>All systems are operational <br /></span>
    </div>

    <div class="my-4 flex justify-center gap-6">
      <div class="flex items-center">
        <span class="h-4 w-4 bg-green-500 rounded-full inline-block mr-2"></span>
        <span>Normal Operations</span>
      </div>
      <div class="flex items-center">
        <span class="h-4 w-4 bg-yellow-500 rounded-full inline-block mr-2"></span>
        <span>Degraded Operations</span>
      </div>
      <div class="flex items-center">
        <span class="h-4 w-4 bg-red-500 rounded-full inline-block mr-2"></span>
        <span>Outage</span>
      </div>
    </div>
  </div>

  <div class="w-full grid grid-cols-12 gap-4 mt-4">
    <ng-container *ngFor="let item of apiService.websites$ | async">
      <div class="col-span-6">
        <div class="bg-netzreich-black-700 text-white p-4">
          <div class="flex gap-4 items-center">
            <div class="relative flex w-7 h-7 items-center gap-16">
              <span
                class="animate-ping bg-green-400 w-full h-full absolute inline-flex rounded-full opacity-75 duration-150"
              ></span>
              <span class="relative inline-flex rounded-full h-7 w-7 justify-center items-center bg-green-600">
                <app-icon icon="globe" cssClass="h-5 w-5"></app-icon>
              </span>
            </div>
            <span class="font-montserrat-alternates font-semibold text-2xl mt-2">{{ item.url }}</span>
          </div>
          <div class="">
            <div class="flex items-center p-2 gap-1 h-20">
              <div
                *ngFor="let healthLog of item.healthLog"
                class="h-8 w-2 rounded-sm cursor-pointer hover:h-10 transition-all"
                [ngClass]="{ 'bg-green-600': healthLog.status === 200, 'bg-red-500': healthLog.status !== 200 }"
              ></div>
            </div>
            <div class="w-full flex justify-between pl-2 pr-1 font-montserrat-alternates">
              <span class="mr-6">4 hours</span>
              <span class="mr-6">now</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
