<nav class="bg-netzreich-black-700 shadow">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
       <app-icon icon="netreich-logo" cssClass="h-8 w-40 animate-bounce duration-150 hover:animate-none transition-all cursor-pointer "></app-icon>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="text-black font-bold bg-yellow-400 hover:bg-yellow-500 transition-all00 rounded-lg text-sm px-4 py-2 text-center"
      >
        Anmelden
      </button>
 
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 "
      >
        <li>
          <a
            href="#"
            class="block py-2 px-3 md:p-0 text-yellow-400 rounded md:bg-transparent "
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 md:p-0 text-white hover:text-yellow-500 rounded "
            >About</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 md:p-0 text-white hover:text-yellow-500 rounded"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 md:p-0 text-white hover:text-yellow-500 rounded"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
